.link-buttons{
    display: inline-block;
    margin: 0 10px 0 10px;
    font-size: 20px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 25px;
}

ul{
    padding: 0;
}
.nav-link-container{
    width: 100%;
}
.logo{
    /*display: flex;*/
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}

.main-body{
    height: 80vh;
    background-color: rgb(249, 179, 207);
}

footer{
    display: grid;
    justify-content: center;
}
body{
    margin: 0;
}